/* All Quiz component styles */

/* MainMenu styles */

.menu__container .ant-card-body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/quizbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#start__quiz__btn {
  background-color: rgb(190, 171, 83);
  color: rgb(77, 55, 9);
  font-weight: 500;
  border-radius: 10px;
  border: none;
}

#start__quiz__btn:hover {
  background-color: rgb(77, 55, 9);
  color: rgb(190, 171, 83);
  font-weight: 500;
  border-radius: 10px;
  outline: none;
  border: none;
}

/* Quiz component styles */

.quiz__container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 241, 232);
}

.quiz__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.ant-btn,
.quiz__btn,
.one,
.two,
.three,
.four {
  background-color: rgb(190, 171, 83);
  color: rgb(77, 55, 9);
  font-weight: 500;
  border-radius: 10px;
  border: none;
  margin: 1rem;
}

button.ant-btn:hover,
.quiz__btn:hover,
.one:hover,
.two:hover,
.three:hover,
.four:hover {
  background-color: rgb(77, 55, 9);
  color: rgb(190, 171, 83);
  font-weight: 500;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 1rem;
}

.quiz__btn__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* EndScreen Component styles */

.endscreen__container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 241, 232);
}
