/* About styles */

.ant-card-bordered {
  border: none;
}

.about__card .ant-card-body {
  background-image: url("../assets/mug.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
  border: none;
}

.about__card h2.ant-typography {
  color: #fff;
  border-radius: 10px;
  background-color: rgb(190, 171, 83);
  padding: 1rem;
}

.about__card h4.ant-typography {
  color: #fff;
}

.about__card .ant-card-body p {
  width: 50%;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  background-color: rgba(196, 199, 190, 0.9);
  border-radius: 10px;
  padding: 6rem 6rem 6rem 6rem;
}

.para1,
.title1 {
  margin-left: 2rem;
  margin-top: 3rem;
}

.para2,
.title2 {
  margin-left: 40rem;
  margin-top: 3rem;
}

.para3,
.title3 {
  margin-left: 2rem;
  margin-top: 3rem;
}

.para4,
.title4 {
  margin-left: 40rem;
  margin-top: 3rem;
}
