/* About styles */

/* .about__card .ant-card-body {
  background-image: url("../assets/mug.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about__card .ant-card-body p {
  width: 50%;
  color: #000;
  font-size: 1rem;
  line-height: 2;
  background-color: rgba(224, 212, 212, 0.8);
  border-radius: 10px;
  padding: 3rem 2rem 3rem 2rem;
}

.about__card h2.ant-typography {
  color: #fff;
  padding-left: 2rem;
}

.about__card h4.ant-typography {
  color: #fff;
  padding-left: 2rem;
} */
