
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../assets/teal_gradient_bg.jpg');
    background-position: center;
    background-size: cover;
    
}

.login__form {
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 112, 160);
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}

.login__container {
    background-color: rgb(7, 48, 75);
    padding: 2rem;
    border-radius: 10px;
}

.login__form h1 {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    letter-spacing: 1px;
}

input {
    min-width: 380px;
    text-align: center;
    padding: 1rem;
    background-color: rgb(7, 48, 75);
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    color: black;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 10px;
}

.submit__btn {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: black;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
}

