/* Login styles */

.login__container .ant-card-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.login__container h2.ant-typography {
  border-radius: 10px;
  margin: 2rem;
}

.login__form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 171, 83);
  border-radius: 10px;
}

.login__fields {
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.submit__btn {
  background-color: rgb(77, 55, 9);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  color: rgb(190, 171, 83);
  cursor: pointer;
  margin-bottom: 2rem;
}
