/* Logout styles */

.logout__container .ant-card-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.logout__btn {
  width: 10%;
  background-color: rgb(77, 55, 9);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  color: rgb(190, 171, 83);
  cursor: pointer;
}

.user__name {
  color: rgb(77, 55, 9);
  font-size: 2rem;
}

.logout__container h2.ant-typography {
  border-radius: 10px;
  margin: 2rem;
}
