/* Logout styles */

.logout__container .ant-card-body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout__btn {
  width: 10%;
  background-color: rgb(77, 55, 9);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  color: rgb(190, 171, 83);
}

.user__name {
  color: rgb(190, 171, 83);
  font-size: 2rem;
}
