/* Nav styles */

.nav__container ul,
header.ant-layout-header {
  background-color: rgb(243, 241, 232);
  font-size: 1rem;
}

div.ant-menu-submenu-title,
div.ant-menu-submenu-title:hover {
  color: rgb(190, 171, 83);
  font-weight: 600;
}
