/* Products styles */

.products__container {
  min-height: 100vh;
  min-width: 100vw;
}

.products__container .ant-card-body {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.products__card .ant-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__card div.ant-card-cover {
  margin-bottom: 1rem;
}

div.ant-card-bordered .products__card {
  border: 1px solid #f0f0f0;
  margin-bottom: 1rem;
}

.products__card button.ant-btn {
  background-color: rgb(190, 171, 83);
  margin: 1rem;
  border: none;
  border-radius: 10px;
}
