/* Products styles */

.products__container {
  background-image: url("../assets/mug.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
}

.products__container .ant-card-body {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.products__card .ant-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.products__card div.ant-card-cover {
  padding: 1rem;
  width: 150px;
}

.products__card div.ant-card-cover img {
  height: 150px;
  object-fit: cover;
}

div.ant-card-bordered .products__card {
  border: none;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.ant-card-meta-title {
  font-weight: 500;
  color: #000;
}

.products__title h3.ant-typography {
  color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
}

.products__btn {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 1rem;
  width: 10rem;
  height: 3rem;
}
